<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat2bug.system.mapper.SysAiModuleConfigMapper">
    
    <resultMap type="SysAiModuleConfig" id="SysAiModuleConfigResult">
        <result property="aiId"    column="ai_id"    />
        <result property="businessModule"    column="business_module"    />
        <result property="imageModule"    column="image_module"    />
        <result property="projectId"    column="project_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createById"    column="create_by_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateById"    column="update_by_id"    />
    </resultMap>

    <sql id="selectSysAiModuleConfigVo">
        select ai_id, business_module, image_module, project_id, create_time, create_by_id, update_time, update_by_id from sys_ai_module_config
    </sql>

    <select id="selectSysAiModuleConfigList" parameterType="SysAiModuleConfig" resultMap="SysAiModuleConfigResult">
        <include refid="selectSysAiModuleConfigVo"/>
        <where>  
            <if test="businessModule != null  and businessModule != ''"> and business_module = #{businessModule}</if>
            <if test="imageModule != null  and imageModule != ''"> and image_module = #{imageModule}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
        </where>
    </select>
    
    <select id="selectSysAiModuleConfigByAiId" parameterType="Long" resultMap="SysAiModuleConfigResult">
        <include refid="selectSysAiModuleConfigVo"/>
        where ai_id = #{aiId}
    </select>

    <select id="selectSysAiModuleConfigByProjectId" parameterType="Long" resultMap="SysAiModuleConfigResult">
        <include refid="selectSysAiModuleConfigVo"/>
        where project_id = #{projectId}
    </select>
        
    <insert id="insertSysAiModuleConfig" parameterType="SysAiModuleConfig">
        insert into sys_ai_module_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aiId != null">ai_id,</if>
            <if test="businessModule != null">business_module,</if>
            <if test="imageModule != null">image_module,</if>
            <if test="projectId != null">project_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createById != null">create_by_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateById != null">update_by_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aiId != null">#{aiId},</if>
            <if test="businessModule != null">#{businessModule},</if>
            <if test="imageModule != null">#{imageModule},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createById != null">#{createById},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateById != null">#{updateById},</if>
         </trim>
    </insert>

    <update id="updateSysAiModuleConfig" parameterType="SysAiModuleConfig">
        update sys_ai_module_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessModule != null">business_module = #{businessModule},</if>
            <if test="imageModule != null">image_module = #{imageModule},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createById != null">create_by_id = #{createById},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateById != null">update_by_id = #{updateById},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteSysAiModuleConfigByAiId" parameterType="Long">
        delete from sys_ai_module_config where ai_id = #{aiId}
    </delete>

    <delete id="deleteSysAiModuleConfigByAiIds" parameterType="String">
        delete from sys_ai_module_config where ai_id in 
        <foreach item="aiId" collection="array" open="(" separator="," close=")">
            #{aiId}
        </foreach>
    </delete>
</mapper>