<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat2bug.system.mapper.SysCaseMapper">
    
    <resultMap type="SysCase" id="SysCaseResult">
        <result property="caseId"    column="case_id"    />
        <result property="caseName"    column="case_name"    />
        <result property="moduleId"    column="module_id"    />
        <result property="moduleName"    column="module_name"    />
        <result property="caseType"    column="case_type"    />
        <result property="caseExpect"    column="case_expect"    />
        <result property="caseStep"    column="case_step"  typeHandler="com.cat2bug.system.domain.handle.SysCaseStepArrayTypeHandler"  />
        <result property="caseLevel"    column="case_level"    />
        <result property="casePreconditions"    column="case_preconditions"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="caseNum"    column="case_num"    />
        <result property="projectId"    column="project_id"    />
        <result property="remark"    column="remark"    />
        <result property="imgUrls"    column="img_urls"    />
        <result property="defectProcessingCount"    column="defect_processing_count"    />
        <result property="defectAuditCount"    column="defect_audit_count"    />
        <result property="defectCloseCount"    column="defect_close_count"    />
    </resultMap>

    <sql id="selectSysCaseVo">
        select c.case_id, c.case_name, c.module_id, m.module_name, c.case_type, c.case_expect, c.case_step, c.case_level, c.case_preconditions, c.create_by, c.create_time, c.update_by, c.update_time, c.case_num, c.project_id, c.remark, c.img_urls,
               d.defect_processing_count, d.defect_audit_count, d.defect_close_count
        from sys_case c
        LEFT JOIN sys_module m on m.module_id = c.module_id
        LEFT JOIN (
            select
                case_id,
                IFNULL(sum(case when defect_state = 0 or defect_state = 3 then 1 end), 0) as defect_processing_count,
                IFNULL(sum(case when defect_state = 1 then 1 end), 0) as defect_audit_count,
                IFNULL(sum(case when defect_state = 4 then 1 end), 0) as defect_close_count
            FROM sys_defect GROUP BY case_id
        ) d on d.case_id=c.case_id
    </sql>

    <select id="getCaseMaxNumOfProject" resultType="Long">
        select IFNULL(MAX(case_num),0) from sys_case where project_id=#{projectId}
    </select>

    <select id="totalByProjectId" resultType="Long">
        select COUNT(case_id) from sys_case where project_id=#{projectId} GROUP BY project_id;
    </select>

    <select id="selectSysCaseList" parameterType="SysCase" resultMap="SysCaseResult">
        <include refid="selectSysCaseVo"/>
        <where>  
            <if test="caseName != null  and caseName != ''"> and c.case_name like concat('%', #{caseName}, '%')</if>
            <if test="moduleId != null "> and c.module_id = #{moduleId}</if>
            <if test="caseType != null "> and c.case_type = #{caseType}</if>
            <if test="caseExpect != null  and caseExpect != ''"> and c.case_expect = #{caseExpect}</if>
            <if test="caseLevel != null "> and c.case_level = #{caseLevel}</if>
            <if test="casePreconditions != null  and casePreconditions != ''"> and c.case_preconditions = #{casePreconditions}</if>
            <if test="caseNum != null "> and c.case_num = #{caseNum}</if>
            <if test="projectId != null "> and c.project_id = #{projectId}</if>
            <if test="params != null and params.moduleIds !=null">
             and c.module_id in
                <foreach collection="params.moduleIds" item="moduleId" separator="," open="(" close=")">
                    #{moduleId}
                </foreach>
             </if>
        </where>
        ORDER BY c.update_time DESC
    </select>

    <select id="selectSysCaseIdList" parameterType="Long" resultType="java.lang.Long">
        SELECT
            c.case_id
        FROM
        (
            SELECT module_id FROM sys_module WHERE module_id = #{moduleId}
            UNION
            SELECT t.module_id FROM
                ( SELECT * FROM sys_module WHERE module_pid > 0 ORDER BY module_pid, module_id ) t,
                ( SELECT @pid := #{moduleId} ) pd
            WHERE
                FIND_IN_SET( t.module_pid, @pid ) > 0
                AND @pid := CONCAT( @pid, ',', t.module_id )
        ) ids,
        sys_case c
        WHERE
            c.module_id = ids.module_id
        ORDER BY c.update_time DESC
    </select>

    <select id="selectSysCaseByCaseName" resultMap="SysCaseResult">
        <include refid="selectSysCaseVo"/>
        where c.case_name = #{caseName} and c.project_id = #{ projectId }
    </select>

    <select id="selectSysCaseByCaseId" parameterType="Long" resultMap="SysCaseResult">
        <include refid="selectSysCaseVo"/>
        where c.case_id = #{caseId}
    </select>
        
    <insert id="insertSysCase" parameterType="SysCase" useGeneratedKeys="true" keyProperty="caseId">
        insert into sys_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseName != null">case_name,</if>
            <if test="moduleId != null">module_id,</if>
            <if test="caseType != null">case_type,</if>
            <if test="caseExpect != null">case_expect,</if>
            <if test="caseStep != null">case_step,</if>
            <if test="caseLevel != null">case_level,</if>
            <if test="casePreconditions != null">case_preconditions,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="caseNum != null">case_num,</if>
            <if test="projectId != null">project_id,</if>
            <if test="remark != null">remark,</if>
            <if test="imgUrls != null">img_urls,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="caseName != null">#{caseName},</if>
            <if test="moduleId != null">#{moduleId},</if>
            <if test="caseType != null">#{caseType},</if>
            <if test="caseExpect != null">#{caseExpect},</if>
            <if test="caseStep != null">#{caseStep,typeHandler=com.cat2bug.system.domain.handle.SysCaseStepArrayTypeHandler},</if>
            <if test="caseLevel != null">#{caseLevel},</if>
            <if test="casePreconditions != null">#{casePreconditions},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="caseNum != null">#{caseNum},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="imgUrls != null">#{imgUrls},</if>
         </trim>
    </insert>

    <update id="updateSysCase" parameterType="SysCase">
        update sys_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseName != null">case_name = #{caseName},</if>
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="caseType != null">case_type = #{caseType},</if>
            <if test="caseExpect != null">case_expect = #{caseExpect},</if>
            <if test="caseStep != null">case_step = #{caseStep,typeHandler=com.cat2bug.system.domain.handle.SysCaseStepArrayTypeHandler},</if>
            <if test="caseLevel != null">case_level = #{caseLevel},</if>
            <if test="casePreconditions != null">case_preconditions = #{casePreconditions},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="caseNum != null">case_num = #{caseNum},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="imgUrls != null">img_urls = #{imgUrls},</if>
        </trim>
        where case_id = #{caseId}
    </update>

    <delete id="deleteSysCaseByCaseId" parameterType="Long">
        delete from sys_case where case_id = #{caseId}
    </delete>

    <delete id="deleteSysCaseByCaseIds" parameterType="String">
        delete from sys_case where case_id in 
        <foreach item="caseId" collection="array" open="(" separator="," close=")">
            #{caseId}
        </foreach>
    </delete>
</mapper>