<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat2bug.system.mapper.SysDefectMapper">
    
    <resultMap type="SysDefect" id="SysDefectResult">
        <result property="defectId"    column="defect_id"    />
        <result property="defectType"    column="defect_type"    />
        <result property="defectName"    column="defect_name"    />
        <result property="defectDescribe"    column="defect_describe"    />
        <result property="annexUrls"    column="annex_urls"  />
        <result property="imgUrls"    column="img_urls"   />
        <result property="projectId"    column="project_id"    />
        <result property="testPlanId"    column="test_plan_id"    />
        <result property="caseId"    column="case_id"    />
        <result property="dataSources"    column="data_sources"    />
        <result property="dataSourcesParams"    column="data_sources_params"    />
        <result property="moduleId"    column="module_id"    />
        <result property="moduleVersion"    column="module_version"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="defectState"    column="defect_state"    />
        <result property="caseStepId"    column="case_step_id"    />
        <result property="handleBy"    column="handle_by"  typeHandler="com.cat2bug.system.domain.handle.LongArrayTypeHandler"  />
        <result property="handleByList"    column="handle_by_list"  typeHandler="com.cat2bug.system.domain.handle.SysUserArrayTypeHandler"  />
        <result property="handleTime"    column="handle_time"    />
        <result property="defectLevel"    column="defect_level"    />
    </resultMap>

    <sql id="selectSysDefectVo">
        SELECT
            d.defect_id,
            d.defect_type,
            d.defect_name,
            d.defect_describe,
            d.annex_urls,
            d.img_urls,
            d.project_id,
            d.test_plan_id,
            d.case_id,
            d.data_sources,
            d.data_sources_params,
            d.module_id,
            d.module_version,
            d.create_by,
            d.update_time,
            d.create_time,
            d.update_by,
            d.defect_state,
            d.case_step_id,
            d.handle_by,
            un.user_infos AS handle_by_list,
            d.handle_time,
            d.defect_level
        FROM
            sys_defect d
                LEFT JOIN (
                SELECT
                    d1.defect_id,
                    JSON_ARRAYAGG( JSON_OBJECT('userId', u.user_id, 'nickName', u.nick_name, 'userName', u.user_name) ) AS user_infos
                FROM
                    sys_defect d1
                        LEFT JOIN sys_user u ON JSON_CONTAINS(
                            d1.handle_by,
                            CAST( u.user_id AS JSON ))
                WHERE
                    JSON_CONTAINS(
                            d1.handle_by,
                            CAST( u.user_id AS JSON ))
                GROUP BY
                    d1.defect_id
            ) un ON un.defect_id = d.defect_id
    </sql>

    <select id="selectSysDefectList" parameterType="SysDefect" resultMap="SysDefectResult">
        <include refid="selectSysDefectVo"/>
        <where>  
            <if test="defectType != null "> and defect_type = #{defectType}</if>
            <if test="defectName != null  and defectName != ''"> and defect_name like concat('%', #{defectName}, '%')</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="testPlanId != null "> and test_plan_id = #{testPlanId}</if>
            <if test="caseId != null "> and case_id = #{caseId}</if>
            <if test="dataSources != null "> and data_sources = #{dataSources}</if>
            <if test="dataSourcesParams != null  and dataSourcesParams != ''"> and data_sources_params = #{dataSourcesParams}</if>
            <if test="moduleId != null "> and module_id = #{moduleId}</if>
            <if test="moduleVersion != null  and moduleVersion != ''"> and module_version like concat('%', #{moduleVersion}, '%')</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="defectState != null "> and defect_state = #{defectState}</if>
            <if test="handleBy != null  and handleBy != ''">
             and handle_by in
             <foreach collection="handleBy" item="b" separator="," open="(" close=")">
                 #{b}
             </foreach>
            </if>
            <if test="params.beginHandleTime != null and params.beginHandleTime != '' and params.endHandleTime != null and params.endHandleTime != ''"> and handle_time between #{params.beginHandleTime} and #{params.endHandleTime}</if>
            <if test="defectLevel != null  and defectLevel != ''"> and defect_level = #{defectLevel}</if>
        </where>
    </select>
    
    <select id="selectSysDefectByDefectId" parameterType="Long" resultMap="SysDefectResult">
        <include refid="selectSysDefectVo"/>
        where defect_id = #{defectId}
    </select>
        
    <insert id="insertSysDefect" parameterType="SysDefect" useGeneratedKeys="true" keyProperty="defectId">
        insert into sys_defect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="defectType != null">defect_type,</if>
            <if test="defectName != null and defectName != ''">defect_name,</if>
            <if test="defectDescribe != null and defectDescribe != ''">defect_describe,</if>
            <if test="annexUrls != null">annex_urls,</if>
            <if test="imgUrls != null">img_urls,</if>
            <if test="projectId != null">project_id,</if>
            <if test="testPlanId != null">test_plan_id,</if>
            <if test="caseId != null">case_id,</if>
            <if test="dataSources != null">data_sources,</if>
            <if test="dataSourcesParams != null">data_sources_params,</if>
            <if test="moduleId != null">module_id,</if>
            <if test="moduleVersion != null">module_version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="defectState != null">defect_state,</if>
            <if test="caseStepId != null">case_step_id,</if>
            <if test="handleBy != null">handle_by,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="defectLevel != null">defect_level,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="defectType != null">#{defectType},</if>
            <if test="defectName != null and defectName != ''">#{defectName},</if>
            <if test="defectDescribe != null and defectDescribe != ''">#{defectDescribe},</if>
            <if test="annexUrls != null">#{annexUrls},</if>
            <if test="imgUrls != null">#{imgUrls},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="testPlanId != null">#{testPlanId},</if>
            <if test="caseId != null">#{caseId},</if>
            <if test="dataSources != null">#{dataSources},</if>
            <if test="dataSourcesParams != null">#{dataSourcesParams},</if>
            <if test="moduleId != null">#{moduleId},</if>
            <if test="moduleVersion != null">#{moduleVersion},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="defectState != null">#{defectState},</if>
            <if test="caseStepId != null">#{caseStepId},</if>
            <if test="handleBy != null">#{handleBy,typeHandler=com.cat2bug.system.domain.handle.LongArrayTypeHandler},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="defectLevel != null">#{defectLevel},</if>
         </trim>
    </insert>

    <update id="updateSysDefect" parameterType="SysDefect">
        update sys_defect
        <trim prefix="SET" suffixOverrides=",">
            <if test="defectType != null">defect_type = #{defectType},</if>
            <if test="defectName != null and defectName != ''">defect_name = #{defectName},</if>
            <if test="defectDescribe != null and defectDescribe != ''">defect_describe = #{defectDescribe},</if>
            <if test="annexUrls != null">annex_urls = #{annexUrls},</if>
            <if test="imgUrls != null">img_urls = #{imgUrls},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="testPlanId != null">test_plan_id = #{testPlanId},</if>
            <if test="caseId != null">case_id = #{caseId},</if>
            <if test="dataSources != null">data_sources = #{dataSources},</if>
            <if test="dataSourcesParams != null">data_sources_params = #{dataSourcesParams},</if>
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="moduleVersion != null">module_version = #{moduleVersion},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="defectState != null">defect_state = #{defectState},</if>
            <if test="caseStepId != null">case_step_id = #{caseStepId},</if>
            <if test="handleBy != null">handle_by = #{handleBy, typeHandler=com.cat2bug.system.domain.handle.LongArrayTypeHandler},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="defectLevel != null">defect_level = #{defectLevel},</if>
        </trim>
        where defect_id = #{defectId}
    </update>

    <delete id="deleteSysDefectByDefectId" parameterType="Long">
        delete from sys_defect where defect_id = #{defectId}
    </delete>

    <delete id="deleteSysDefectByDefectIds" parameterType="String">
        delete from sys_defect where defect_id in 
        <foreach item="defectId" collection="array" open="(" separator="," close=")">
            #{defectId}
        </foreach>
    </delete>
</mapper>