<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat2bug.system.mapper.SysDefectLogMapper">
    
    <resultMap type="SysDefectLog" id="SysDefectLogResult">
        <result property="defectLogId"    column="defect_log_id"    />
        <result property="defectLogDescribe"    column="defect_log_describe"    />
        <result property="createBy"    column="create_by"    />
        <result property="createByName"    column="create_by_name"    />
        <result property="createByAvatar"    column="create_by_avatar"    />
        <result property="createTime"    column="create_time"    />
        <result property="defectLogType"    column="defect_log_type"   typeHandler="com.cat2bug.common.core.domain.handle.SysDefectLogStateEnumTypeHandle"  />
        <result property="defectLogTypeName"    column="defect_log_type_name"   typeHandler="com.cat2bug.common.core.domain.handle.SysDefectLogStateEnumTypeHandle"  />
        <result property="receiveBy"    column="receive_by"   typeHandler="com.cat2bug.common.core.domain.handle.LongArrayTypeHandler"   />
        <result property="receiveByList"    column="receive_by_list"   typeHandler="com.cat2bug.system.domain.handle.SysUserArrayTypeHandler"   />
        <result property="annexUrls"    column="annex_urls"    />
        <result property="defectId"    column="defect_id"    />
    </resultMap>

    <sql id="selectSysDefectLogVo">
        SELECT
            dl.defect_log_id,
            dl.defect_log_describe,
            dl.create_by,
            u1.nick_name AS create_by_name,
            u1.avatar AS create_by_avatar,
            dl.create_time,
            dl.defect_log_type,
            dl.receive_by,
            un.user_infos AS receive_by_list,
            dl.annex_urls,
            dl.defect_id
        FROM
            sys_defect_log dl
                LEFT JOIN sys_user u1 ON u1.user_id=dl.create_by
                LEFT JOIN (
                SELECT
                    dl1.defect_log_id,
                    CONCAT('[', GROUP_CONCAT( CONCAT('{"userId":',
                         CASE WHEN u.user_id IS NOT NULL THEN user_id ELSE 0 END,
                         ',"nickName":',
                         CASE WHEN u.nick_name IS NOT NULL THEN CONCAT('"',u.nick_name,'"') ELSE 'null' END,
                         ',"userName":',
                         CASE WHEN u.user_name IS NOT NULL THEN CONCAT('"',u.user_name,'"') ELSE 'null' END,
                         ',"avatar":',
                         CASE WHEN u.avatar IS NOT NULL THEN CONCAT('"',u.avatar,'"') ELSE 'null' END,

                         '}')), ']') AS user_infos
                FROM
                    sys_defect_log dl1
                        LEFT JOIN sys_user u ON dl1.receive_by REGEXP CONCAT('\b',u.user_id,'\b') OR dl1.receive_by REGEXP CONCAT('\\b',u.user_id,'\\b')
                GROUP BY
                    dl1.defect_log_id
            ) un ON un.defect_log_id = dl.defect_log_id
    </sql>

    <select id="selectSysDefectLogList" parameterType="SysDefectLog" resultMap="SysDefectLogResult">
        <include refid="selectSysDefectLogVo"/>
        <where>  
            <if test="defectLogType != null "> and dl.defect_log_type = #{defectLogType}</if>
            <if test="receiveBy != null  and receiveBy != ''"> and dl.receive_by = #{receiveBy}</if>
            <if test="defectId != null "> and dl.defect_id = #{defectId}</if>
        </where>
        ORDER BY dl.create_time DESC
    </select>
    
    <select id="selectSysDefectLogByDefectLogId" parameterType="Long" resultMap="SysDefectLogResult">
        <include refid="selectSysDefectLogVo"/>
        where dl.defect_log_id = #{defectLogId}
    </select>
        
    <insert id="insertSysDefectLog" parameterType="SysDefectLog" useGeneratedKeys="true" keyProperty="defectLogId">
        insert into sys_defect_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="defectLogId != null">defect_log_id,</if>
            <if test="defectLogDescribe != null">defect_log_describe,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="defectLogType != null">defect_log_type,</if>
            <if test="receiveBy != null">receive_by,</if>
            <if test="annexUrls != null">annex_urls,</if>
            <if test="defectId != null">defect_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="defectLogId != null">#{defectLogId},</if>
            <if test="defectLogDescribe != null">#{defectLogDescribe},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="defectLogType != null">#{defectLogType, typeHandler=com.cat2bug.common.core.domain.handle.SysDefectLogStateEnumTypeHandle},</if>
            <if test="receiveBy != null">#{receiveBy, typeHandler=com.cat2bug.common.core.domain.handle.LongArrayTypeHandler },</if>
            <if test="annexUrls != null">#{annexUrls},</if>
            <if test="defectId != null">#{defectId},</if>
         </trim>
    </insert>

    <insert id="batchInsertSysDefectLog" parameterType="SysDefectLog" useGeneratedKeys="true" keyProperty="defectLogId" keyColumn="defect_log_id">
        insert into sys_defect_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            defect_log_describe,create_by,create_time,defect_log_type,receive_by,annex_urls,defect_id
        </trim>
        values
        <foreach collection="sysDefectLogList" separator="," item="log">
            (
            #{log.defectLogDescribe},
            #{log.createBy},
            #{log.createTime},
            #{log.defectLogType, typeHandler=com.cat2bug.common.core.domain.handle.SysDefectLogStateEnumTypeHandle},
            #{log.receiveBy, typeHandler=com.cat2bug.common.core.domain.handle.LongArrayTypeHandler },
            #{log.annexUrls},
            #{log.defectId}
            )
        </foreach>
    </insert>

    <update id="updateSysDefectLog" parameterType="SysDefectLog">
        update sys_defect_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="defectLogDescribe != null">defect_log_describe = #{defectLogDescribe},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="defectLogType != null">defect_log_type = #{defectLogType, typeHandler=com.cat2bug.common.core.domain.handle.SysDefectLogStateEnumTypeHandle},</if>
            <if test="receiveBy != null">receive_by = #{receiveBy, typeHandler=com.cat2bug.common.core.domain.handle.LongArrayTypeHandler},</if>
            <if test="annexUrls != null">annex_urls = #{annexUrls},</if>
            <if test="defectId != null">defect_id = #{defectId},</if>
        </trim>
        where defect_log_id = #{defectLogId}
    </update>

    <delete id="deleteSysDefectLogByDefectLogId" parameterType="Long">
        delete from sys_defect_log where defect_log_id = #{defectLogId}
    </delete>

    <delete id="deleteSysDefectLogByDefectLogIds" parameterType="String">
        delete from sys_defect_log where defect_log_id in 
        <foreach item="defectLogId" collection="array" open="(" separator="," close=")">
            #{defectLogId}
        </foreach>
    </delete>
</mapper>