<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat2bug.system.mapper.SysProjectApiMapper">
    
    <resultMap type="SysProjectApi" id="SysProjectApiResult">
        <result property="apiId"    column="api_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="userId"    column="user_id"    />
        <result property="whiteList"    column="white_list" typeHandler="com.cat2bug.system.domain.handle.JsonArrayTypeHandler"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="remark"    column="remark"    />
        <result property="apiName"    column="api_name"    />
    </resultMap>

    <sql id="selectSysProjectApiVo">
        select u.user_name as api_id, pa.project_id, pa.user_id, pa.white_list, pa.expire_time, pa.remark, u.nick_name as api_name
        from sys_project_api pa
        right join sys_user u ON u.user_id = pa.user_id AND u.del_flag='0'
    </sql>

    <select id="selectSysProjectApiList" parameterType="SysProjectApi" resultMap="SysProjectApiResult">
        <include refid="selectSysProjectApiVo"/>
        <where>  
            <if test="projectId != null "> and pa.project_id = #{projectId}</if>
            <if test="userId != null "> and u.user_id = #{userId}</if>
            <if test="expireTime != null "> and pa.expire_time = #{expireTime}</if>
            <if test="apiName != null  and apiName != ''"> and u.nick_name like concat('%', #{apiName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysProjectApiByApiId" parameterType="String" resultMap="SysProjectApiResult">
        <include refid="selectSysProjectApiVo"/>
        where pa.api_id = #{apiId}
    </select>
        
    <insert id="insertSysProjectApi" parameterType="SysProjectApi">
        insert into sys_project_api
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiId != null">api_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="whiteList != null">white_list,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apiId != null">#{apiId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="whiteList != null">#{whiteList,typeHandler=com.cat2bug.system.domain.handle.JsonArrayTypeHandler},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysProjectApi" parameterType="SysProjectApi">
        update sys_project_api
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="whiteList != null">white_list = #{whiteList,typeHandler=com.cat2bug.system.domain.handle.JsonArrayTypeHandler},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where api_id = #{apiId}
    </update>

    <delete id="deleteSysProjectApiByApiId" parameterType="String">
        delete from sys_project_api where api_id = #{apiId}
    </delete>

    <delete id="deleteSysProjectApiByApiIds" parameterType="String">
        delete from sys_project_api where api_id in 
        <foreach item="apiId" collection="array" open="(" separator="," close=")">
            #{apiId}
        </foreach>
    </delete>
</mapper>