<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat2bug.system.mapper.SysProjectMapper">
    
    <resultMap type="SysProject" id="SysProjectResult">
        <result property="projectId"    column="project_id"    />
        <result property="projectState"    column="project_state" typeHandler="com.cat2bug.system.domain.handle.ProjectStateEnumTypeHandle"    />
        <result property="teamId"    column="team_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectIcon"    column="project_icon"    />
        <result property="projectIntroduce"    column="project_introduce"    />
        <result property="collect"    column="collect"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="findSysProjectVo">
        SELECT p.project_id, p.team_id, p.project_state, p.project_name, p.project_icon, p.project_introduce, p.create_by, p.create_time, p.update_by, p.update_time
        FROM sys_project p
    </sql>

    <sql id="selectSysProjectVo">
        SELECT DISTINCT p.project_id, p.team_id, p.project_state, p.project_name, p.project_icon, p.project_introduce, p.create_by, p.create_time, p.update_by, p.update_time, up.collect
        FROM sys_project p
        LEFT JOIN sys_user_project up on p.project_id=up.project_id and up.user_id = #{ userId }
    </sql>

    <select id="selectSysProjectList" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        <where>
            p.project_state > 0 and p.team_id = #{sysProject.teamId}
            <if test="sysProject.params != null and sysProject.params.userId !=null">and (up.user_id= #{sysProject.params.userId} or p.create_by = #{sysProject.params.userId})</if>
            <if test="sysProject.collect != null  and sysProject.collect != ''"> and up.collect = #{sysProject.collect}</if>
            <if test="sysProject.projectName != null  and sysProject.projectName != ''"> and p.project_name like concat('%', #{sysProject.projectName}, '%')</if>
            <if test="sysProject.createBy != null  and sysProject.createBy != ''"> and p.create_by like concat('%', #{sysProject.createBy}, '%')</if>
        </where>
        order by up.collect desc, p.create_time desc
    </select>
    
    <select id="selectSysProjectByProjectId" parameterType="Long" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        where p.project_id = #{projectId}
    </select>
        
    <insert id="insertSysProject" parameterType="SysProject" useGeneratedKeys="true" keyProperty="projectId">
        insert into sys_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="teamId != null">team_id,</if>
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="projectIcon != null">project_icon,</if>
            <if test="projectIntroduce != null">project_introduce,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="projectIcon != null">#{projectIcon},</if>
            <if test="projectIntroduce != null">#{projectIntroduce},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysProject" parameterType="SysProject">
        update sys_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="teamId != null and teamId != ''">team_id = #{teamId},</if>
            <if test="projectIcon != null">project_icon = #{projectIcon},</if>
            <if test="projectIntroduce != null">project_introduce = #{projectIntroduce},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteSysProjectByProjectId" parameterType="Long">
        update sys_project set project_state = 0 where project_id = #{projectId}
    </delete>

    <delete id="deleteSysProjectByProjectIds" parameterType="String">
        update sys_project set project_state = 0 where project_id in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>
</mapper>