<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat2bug.system.mapper.SysReportMapper">
    
    <resultMap type="com.cat2bug.common.core.domain.entity.SysReport" id="SysReportResult">
        <result property="reportId"    column="report_id"    />
        <result property="reportTitle"    column="report_title"    />
        <result property="reportTime"    column="report_time"    />
        <result property="reportDescription"    column="report_description"    />
        <result property="reportDataCoder"    column="report_data_coder"    />
        <result property="reportData"    column="report_data"    />
        <result property="createById"    column="create_by_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="projectId"    column="project_id"    />
        <result property="reportSource" column="report_source" />
        <result property="reportKey" column="report_key" />
    </resultMap>

    <sql id="selectSysReportVo">
        select r.report_id, r.report_title, r.report_time, r.report_description, r.report_data_coder, r.report_data, r.create_by_id, r.project_id, r.report_source, r.report_key, u.nick_name as create_by from sys_report r
        left join sys_user u ON r.create_by_id = u.user_id
    </sql>

    <select id="selectSysReportList" parameterType="com.cat2bug.common.core.domain.entity.SysReport" resultMap="SysReportResult">
        <include refid="selectSysReportVo"/>
        <where>
            r.project_id = #{projectId}
            <if test="reportTitle != null  and reportTitle != ''"> and r.report_title like concat('%', #{reportTitle}, '%')</if>
            <if test="params.beginReportTime != null and params.beginReportTime != '' and params.endReportTime != null and params.endReportTime != ''"> and r.report_time between #{params.beginReportTime} and #{params.endReportTime}</if>
            <if test="reportDataCoder != null  and reportDataCoder != ''"> and r.report_data_coder = #{reportDataCoder}</if>
            <if test="createById != null "> and r.create_by_id = #{createById}</if>
        </where>
        ORDER BY r.report_time DESC
    </select>
    
    <select id="selectSysReportByReportId" parameterType="Long" resultMap="SysReportResult">
        <include refid="selectSysReportVo"/>
        where r.report_id = #{reportId}
    </select>
        
    <insert id="insertSysReport" parameterType="com.cat2bug.common.core.domain.entity.SysReport">
        insert into sys_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportId != null">report_id,</if>
            <if test="reportTitle != null and reportTitle != ''">report_title,</if>
            <if test="reportTime != null">report_time,</if>
            <if test="reportDescription != null">report_description,</if>
            <if test="reportDataCoder != null">report_data_coder,</if>
            <if test="reportData != null">report_data,</if>
            <if test="reportSource != null">report_source</if>
            <if test="createById != null">create_by_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="reportKey != null">report_key,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportId != null">#{reportId},</if>
            <if test="reportTitle != null and reportTitle != ''">#{reportTitle},</if>
            <if test="reportTime != null">#{reportTime},</if>
            <if test="reportDescription != null">#{reportDescription},</if>
            <if test="reportDataCoder != null">#{reportDataCoder},</if>
            <if test="reportData != null">#{reportData},</if>
            <if test="reportSource != null">#{reportSource},</if>
            <if test="createById != null">#{createById},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="reportKey != null">#{reportKey},</if>
         </trim>
    </insert>

    <update id="updateSysReport" parameterType="SysReport">
        update sys_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportTitle != null and reportTitle != ''">report_title = #{reportTitle},</if>
            <if test="reportTime != null">report_time = #{reportTime},</if>
            <if test="reportDescription != null">report_description = #{reportDescription},</if>
            <if test="reportDataCoder != null">report_data_coder = #{reportDataCoder},</if>
            <if test="reportData != null">report_data = #{reportData},</if>
            <if test="reportSource != null">report_source = #{reportSource},</if>
        </trim>
        where report_id = #{reportId}
    </update>

    <delete id="deleteSysReportByReportId" parameterType="Long">
        delete from sys_report where report_id = #{reportId}
    </delete>

    <delete id="deleteSysReportByReportIds" parameterType="String">
        delete from sys_report where report_id in 
        <foreach item="reportId" collection="array" open="(" separator="," close=")">
            #{reportId}
        </foreach>
    </delete>
</mapper>