<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat2bug.system.mapper.SysTeamMapper">
    <resultMap type="SysTeam" id="SysTeamResult">
        <result property="teamId"    column="team_id"    />
        <result property="teamName"    column="team_name"    />
        <result property="teamIcon"    column="team_icon"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="introduce"    column="introduce"    />
        <result property="isDel"    column="is_del"    />
        <result property="projectCount"    column="project_count"    />
        <result property="memberCount"    column="member_count"    />
        <result property="lock"    column="is_lock"    />
        <result property="lockRemark"    column="lock_remark"    />
    </resultMap>

    <sql id="selectSysTeamVo">
        select t.team_id, t.team_name, t.team_icon, t.create_by, t.create_time, t.update_by, t.update_time,
               t.introduce, t.is_del, t.is_lock, t.lock_remark,
               IFNULL(p.project_count,0) as project_count,
               IFNULL(m.member_count,0) as member_count
        from sys_team t
        LEFT JOIN (
            select count(team_id) as project_count,
                   team_id
            from sys_project group by team_id
        ) p ON p.team_id = t.team_id
        LEFT JOIN (
            select count(team_id) as member_count,
                   team_id
            from sys_user_team where team_lock=0 group by team_id
        ) m ON m.team_id = t.team_id
    </sql>

    <select id="selectSysTeamList" parameterType="SysTeam" resultMap="SysTeamResult">
        <include refid="selectSysTeamVo"/>
        <where>  
            <if test="teamName != null  and teamName != ''"> and t.team_name like concat('%', #{teamName}, '%')</if>
        </where>
    </select>

    <select id="selectSysTeamListByUserId" parameterType="Long" resultMap="SysTeamResult">
        SELECT
            t.team_id,
            t.team_name,
            t.team_icon,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            t.introduce,
            t.is_del,
            t.is_lock,
            t.lock_remark
        FROM
            sys_team t,sys_user_team utr
        <where>
            (t.is_del != 1 OR t.is_del IS NULL) AND utr.team_id = t.team_id AND utr.user_id = #{userId}
        </where>
    </select>
    
    <select id="selectSysTeamByTeamId" parameterType="Long" resultMap="SysTeamResult">
        <include refid="selectSysTeamVo"/>
        where team_id = #{teamId}
    </select>

    <select id="selectSysTeamByTeamName" parameterType="String" resultMap="SysTeamResult">
        <include refid="selectSysTeamVo"/>
        where team_name = #{teamName}
    </select>

    <insert id="insertSysTeam" parameterType="SysTeam" useGeneratedKeys="true" keyProperty="teamId">
        insert into sys_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teamId != null">team_id,</if>
            <if test="teamName != null">team_name,</if>
            <if test="teamIcon != null">team_icon,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="introduce != null">introduce,</if>
            <if test="isDel != null">is_del,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamId != null">#{teamId},</if>
            <if test="teamName != null">#{teamName},</if>
            <if test="teamIcon != null">#{teamIcon},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="isDel != null">#{isDel},</if>
         </trim>
    </insert>

    <update id="updateSysTeam" parameterType="SysTeam">
        update sys_team
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamName != null">team_name = #{teamName},</if>
            <if test="teamIcon != null">team_icon = #{teamIcon},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="introduce != null">introduce = #{introduce},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="lock != null">is_lock = #{lock},</if>
            <if test="lockRemark != null">lock_remark = #{lockRemark},</if>
        </trim>
        where team_id = #{teamId}
    </update>

    <update id="updateSysUserTeam" parameterType="SysUserTeam">
        update sys_user_team
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamRoleId != null">team_role_id = #{teamRoleId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where team_id = #{teamId}
    </update>

    <delete id="deleteSysTeamByTeamId" parameterType="Long">
        delete from sys_team where team_id = #{teamId}
    </delete>

    <delete id="deleteSysTeamByTeamIds" parameterType="String">
        delete from sys_team where team_id in 
        <foreach item="teamId" collection="array" open="(" separator="," close=")">
            #{teamId}
        </foreach>
    </delete>
</mapper>