.el-page-header {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: #EBEEF5 1px solid;
}
.el-pagination__editor.el-input .el-input__inner {
  line-height: 28px;
}
.delete-button {
  color: #fff !important;
  background-color: #f56c6c !important;
  border-color: #f56c6c !important;
}
.delete-button:hover {
  background: #f78989 !important;
  border-color: #f78989 !important;
  color: #fff !important;
}
.el-dialog__body {
  padding-top: 0px;
}
.el-page-header {
  margin-bottom: 20px;
}

.red {
  color: #f56c6c;
}
.red-button {
  color: #f56c6c !important;
  --current-color: #f56c6c !important;
  :hover {
    color: #f56c6c !important;
  }
}
.tabs-tools-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  > .el-tabs {
    flex: 1;
  }
  > .right-tools {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 5px;

    .tools-button {
      cursor: pointer;
      color: #606266;
      margin: 0px 5px;
    }
    .tools-button:hover {
      color: #409EFF;
    }
  }
}
