# 项目相关配置
cat2bug:
  # 名称
  name: Cat2Bug
  # 版本
  version: 0.3.2
  # 版权年份
  copyrightYear: 2024
  # 文件路径
  profile: uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math
  # API服务
  api:
    # 是否启动api服务
    enabled: true
  junit:
    push-report:
      host: https://www.cat2bug.com:8022
      project-key: 202403081039179f174l0igbcrgs66
      handler: demo
  ai:
    host: http://localhost:11434
    timeout: 300
    modules:
      - llama3:8b
      - llava:7b
  file:
    view-url: http://localhost:8012
# 开发环境配置
server:
  # 服务器的HTTP端口，默认为2020
  port: 2020
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    com.cat2bug: debug
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟），已失效，在caffeine.properties里配置
    lockTime: 10

j2cache:
  config-location: classpath:${spring.database-type}-j2cache.properties
  open-spring-cache: true
  allow-null-values: true
caffeine:
  properties: caffeine.properties

# Spring配置
spring:
  database-type: mysql
  thymeleaf:
    mode: HTML
    encoding: utf-8
    cache: false
    prefix: classpath:/static/
  jackson:
    parser:
      allow-comments: true
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: ${spring.database-type}
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 500MB
      # 设置总上传的文件大小
      max-request-size: 100TB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认240分钟），同时需要设置caffeine.properties里的tokenExpireTime配置
  expireTime: 240

# MyBatis配置
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: com.cat2bug.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper:
  helperDialect: ${spring.database-type}
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /dev-api

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*
