# 项目相关配置
cat2bug:
  # 名称
  name: Cat2Bug
  # 版本
  version: 0.6.0
  # 版权年份
  copyrightYear: 2025
  # 是否启动系统自动更新
  auto-update: false
  # 文件路径
  profile: uploadPath
  # 临时文件夹路径
  temp: uploadTemp
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math
  # 登陆
  login:
    # 微信小程序
    wechat-mp:
      appid: wx4eeae5b16655538a
      secret: 5203e519f933ca879050c5d827a2765e
  # 云服务
  cloud:
    # 云服务地址
    host: https://www.cat2bug.com/cloud/cloud-api
  # 代理服务
  proxy:
    routes:
      ai:
        # 是否启动api代理服务
        enabled: true
        prefix: cat2ai
        host: https://www.cat2bug.com:3333/prod-api
#        host: http://127.0.0.1:8080
  # API服务
  api:
    # 是否启动api服务
    enabled: true
  # 单元测试
  junit:
    push-report:
      host: https://www.cat2bug.com:8022
      project-key: 202403081039179f174l0igbcrgs66
      handler: demo
  # 智能服务(旧版本，将在下一个大版本中删除)
  ai:
    # 是否启动链接ai服务
    enabled: true
    # AI服务地址(https://www.cat2bug.com:8023是共享给大家的一个用于免费测试和开发的AI服务,生产环境请链接自有的AI服务)
    host: https://www.cat2bug.com:8023
    # AI服务接口超时时间（秒）
    timeout: 300
    # 默认使用的模型，系统启动时会自动下载
    default-business-model: llama3:8b
    default-image-model: llava:7b
    # 推荐支持的模型，会在前端下载列表中显示
    models:
      - ${cat2bug.ai.default-business-model}
      - ${cat2bug.ai.default-image-model}
  # 智能服务(新版)
  open-ai:
    enabled: true
    # AI服务接口超时时间（秒）
    timeout: 300
  file:
    view-url: http://localhost:8012
# 开发环境配置
server:
  # 服务器的HTTP端口，默认为2020
  port: 2020
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    com.cat2bug: debug
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟），已失效，在caffeine.properties里配置
    lockTime: 10

j2cache:
  config-location: classpath:${spring.database-type}-j2cache.properties
  open-spring-cache: true
  allow-null-values: true
caffeine:
  properties: caffeine.properties

# Spring配置
spring:
  database-type: h2
  flyway:
    # 是否开启数据库自动更新
    enabled: ${cat2bug.auto-update}
    # 字符编码
    encoding: utf-8
    # 对执行迁移时基准版本的描述
    baseline-description: BaseLineInitialize
    # 若连接的数据库非空库，是否初始化
    # 当迁移时发现目标schema非空，而且带有没有元数据的表时，是否自动执行基准迁移，默认false。
    baseline-on-migrate: true
    # 指定 baseline 的版本号,缺省值为 1, 低于该版本号的 SQL 文件, migrate 的时候被忽略
    # 开始执行基准迁移时对现有的schema的版本打标签，默认值为1.
    baseline-version: 0.5.1
    # 是否开启校验
    # 迁移时是否校验，默认为 true
    validate-on-migrate: true
    # 开发环境最好开启 outOfOrder, 生产环境关闭 outOfOrder
    # 是否允许无序的迁移，默认 false
    out-of-order: false
    # flyway 的 clean 命令会删除指定 schema 下的所有 table, 生产务必禁掉。
    clean-disabled: false
    # 当读取元数据表时是否忽略错误的迁移，默认false
    ignore-future-migrations: true
    # 数据库记录版本变化的表名
    table: sys_db_version
    # 存储版本变化的sql
    locations: classpath:db/migration/${spring.database-type}
  thymeleaf:
    mode: HTML
    encoding: utf-8
    cache: false
    prefix: classpath:/static/
  jackson:
    parser:
      allow-comments: true
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: ${spring.database-type}
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 500MB
      # 设置总上传的文件大小
      max-request-size: 100TB
  mail:
    # smtp服务器地址
    host: smtp.sparkspace.huaweicloud.com
    # smtp服务器端口
    port: 465
    # 默认邮件账号
    username: demo@cat2bug.com
    # 默认邮件密码
    password: bfwcyhkm5jnnY5wJ
    # 默认发送邮件地址
    from: demo@cat2bug.com
    # 默认邮件编码
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认240分钟），同时需要设置caffeine.properties里的tokenExpireTime配置
  expireTime: 240

# MyBatis配置
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: com.cat2bug.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper:
  helperDialect: ${spring.database-type}
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: false
  # 请求前缀
  pathMapping: /dev-api

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice,system/comment
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*
